body {
    background: #ffffff;
    color: #000000;
    font-weight: 350;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: left;
    text-align: left;
  }
  
  img {
    width: 56px;
    height: 48px;
  }
  
  h1 {
    font-weight: 200;
    font-style: 26px;
    margin: 10px;
  }
  
  .delete {
    cursor: pointer;
    color: red;
  }
  
  .import{
    cursor: pointer;
    color: blue;
  }